R.generated.swift
Pods
Settings.bundle/com.mono0926.LicensePlist/*
Settings.bundle/com.mono0926.LicensePlist.latest_result.txt
Settings.bundle/com.mono0926.LicensePlist.plist
docs
derivedData
test_output
fastlane/FastlaneRunner
fastlane/report.xml

# OS X Finder
.DS_Store

# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
#.xcworkspace
xcuserdata
*xcworkspace/xcuserdata/*

# Build products
build/
*.o
*.LinkFileList
*.hmap

# Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep
